body {
    padding: 0;
    margin:0;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  text-align: right;
  direction: rtl;
}
a{-webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}

.owl-carousel.owl-loaded{direction: ltr;}
.head-title{text-align: right;}
.staff-content h3{text-align: center;}
.countdown_bg h3 {text-align: center;}
.panel-heading .accordion-toggle:after {padding-left: 5px;}
.whychooses h3{color: #000; text-align: center;}
.whychooses p {text-align: center;}
.blue-box1 {text-align: right;}
.contact-item {text-align: right;}
.scrollToTop {right:auto; left:20px;}
.service-box .service-box-icon {left: auto;right: 0;}
.service-box .service-box-content {position: relative;padding-right: 60px; padding-left: 0;}
.newstab {right: 16px;left: auto;}
.navborder .login-btn i {padding-left: 0.4em; padding-right: 0;}
.complain i{ padding-right: 0px;padding-left: 10px;}
.staffteam .social-links{display: none;}
.divider{margin-right: 0;}
.testimonialimg {left: auto;right: 50px;}
.service-box:first-child{border:0;}
.service-box:last-child {border-right: 1px solid rgba(255, 255, 255, 0.21);}
.navborder .navbar-right .dropdown-menu {right: 0;left: auto;text-align: right;}
.around40{padding: 40px;}
.navbar-right .dropdown-menu {right: 0;left: auto;text-align: right;}
.topicon{text-align: left;}
.toplist li i{padding-right: 0px;padding-left: 10px;}
.cleft {float: right;}
.cright {
    float: right;
    padding-left: 0px;
    border-left: 0px solid #8c8587;
    border-right: 1px solid #8c8587;
    padding-right: 14px;
}
.f1-list li a:after{left: auto;right: 0;}
.fo-title:after {left: auto;right: 0;}
.company-social{padding: 0;}
.complain {padding-right: 55px;padding-left: 0;}
.complain i {right:0px;left: auto;}
.staff-content {text-align: center;}
.cuadro_intro_hover p {text-align: right !important;}
.header-extras li {float: left;}
.header-extras {float: left;}
.i-plain {float: right;margin: 4px 0px 7px 11px;}
.navborder .navbar-nav>li>.dropdown-menu {right: 0;left: auto;text-align: right;}
.newsmain {margin-left: 0;}

.newscontent ul li {padding:10px 70px 10px 10px; clear: both;}
.newscontent ul li {
padding-left:0px;
  padding-right: 70px;
  overflow: hidden;
}
.newscontent marquee{margin-right: 120px;margin-left: 0;}
.date {left: auto;right: 0;}
@media(max-width: 767px){
.navborder .navbar-toggle {right: auto;left: 10px;}
.header-extras {margin: 15px 0 0;}
}

.fullwidth { width: 100vw;position: relative;right: 50%;
margin-right: -50vw;margin-left: auto;left: 0;}

/*safari Browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, .fullwidth {width: 102em;margin-left: auto;margin-right: -51em;left: 0;right: 50%;}
  ::i-block-chrome, .affix#alert header{box-shadow: none;}
  ::i-block-chrome, .contact-item img{line-height: normal;}
}

.catpcha{cursor:pointer; padding-right: 10px; padding-left: 0;}
@media(max-width:767px){
   #captcha_image img{margin-bottom:5px;} 
}
.course-right {
    float: left !important;
}
.refinetext i {
    padding-right: 0;
    padding-left: 5px;
}
.listbtnactive i {
    padding-right: 0px;
    padding-left: 5px;
}
.sidecourse-title i {
    float: left !important;
    padding-top: 1px !important;
}
.menuinlinemobile .dropdown-menu {
    right: auto;
    left: 0;
}
.catecheck input[type="checkbox"], .catecheck input[type="radio"] {
    left: 9000px;
    right: auto !important;
}
.priceblock {
    align-items: start !important;
}
.catecheck .pull-right {
    float: left !important;
}
.catefilterscroll {
    padding-right: 0 !important;}
.resettext {
    float: left !important;
} 

@media (min-width: 320px) and (max-width: 540px) {
   .menuinlinemobile .dropdown-menu {
      right: auto !important;
   } 
}
@media(min-width:768px){
    .menuinlinemobile .dropdown-menu {
        right: auto !important;
        left: 0 !important;
    }
    .cart-wrapper::after{left:6px; right:auto !important}
}

.shop-chart i {
    padding-left: 0 !important;
    padding-right: 0.3rem !important;
}
.carttotal-price span{float: left !important}
.cart-course-wrapper .mainright{padding-right: 5px;}
.cart-course-wrapper{padding-right: 0 !important}
.cart-course-wrapper .removebtn {text-align: left !important;}
.ratin-gaverage {text-align: right !important;}
.bar-container li > div:not(.progress) {
    padding-left: 0 !important;
    padding-right: 15px;
}
.lessons li i {
    padding-left: 5px;
    padding-right: 0 !important;
}
.coursetitle span {
    float: left !important;
    margin-right: 0 !important;
}
.panelh3 i {
    margin-left: 5px;
    margin-right: 0 !important;
}
.introlist li:after {
    right: 10px;
    left: auto !important;
}
.filterright p.text-danger.pt-5 {
    text-align: center;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left !important;
    }
}
.float-rtl-left{float: left}
.statusimg,
.statusright {float: left;}
.statusimg li+li {
    padding-right: 20px;
    padding-left: 0;
}
@media (min-width: 992px) {
  .text-lg-right {
    text-align: left;
  }  
}
